<!DOCTYPE html>
<html>
<head>
    <title>Cam2Lapse Config</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css"
    >

    <style>
        #activebtn {
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
        #SEND[value="true"] + #active {
            background-color: green;
        }
        #SEND[value="false"] + #active {
            background-color: red;
        }
    </style>
</head>
<body style="text-align: center">
<header>
    <hgroup>
        <h1>Cam2Lapse</h1>
        <h2>A dashboard for the no. 1 timelapse camera solution (present on this network)</h2>
    </hgroup>
    <p>Visit the configured camera:</p>
    {# go to :8080 on the current window #}
    <a href="" id="frontend_url">
        <button>Camera frontend</button></a>
    <a href="#" onclick="restart()"><button>Restart Cam2Lapse (apply changes, remember to save first!!)</button></a>
</header>
<main>
    <br>
    <hgroup>
    <h2>E-post varslinger</h2>
        <h3>If you want to be notified when the camera goes online or offline, then this is the place to subscribe to it</h3>
    </hgroup>

    <label for="email">Email subscribers (one per line)</label>
    <textarea name="email" id="email" rows="10" cols="30">{{ emails | join("\n") }}</textarea>
    <button onclick="updateEmails()">Save Emails</button>

    <br><br>
    <h2>Config</h2>
    <form method="post" target="/" name="Config Form">
        <label for="SEND">Send active</label>
        <input type="checkbox" name="SEND" id="SEND" value={{ config.SEND |lower }}>

        <p id="activebtn" onclick="toggleSend()">
            Stream {{'running' if config.SEND else 'disabled'}} (currently {{ 'on' if config.SEND else 'off' }})
        </p>
        <br><br>

        <label for="RTSP_URL">RTSP Url</label>
        <input type="text" name="RTSP_URL" value="{{config.RTSP_URL}}" id="RTSP_URL">

        <label for="CAM">Camera name</label>
        <input type="text" name="CAM" value="{{config.CAM}}" id="CAM">

        <label for="FREQUENCY_HOUR">Frequency (hour)</label>
        <input type="number" name="FREQUENCY_HOUR" value="{{config.FREQUENCY_HOUR}}" id="FREQUENCY_HOUR">

        <label for="FREQUENCY_MIN">Frequency (minute)</label>
        <input type="number" name="FREQUENCY_MIN" value="{{config.FREQUENCY_MIN}}" id="FREQUENCY_MIN">

        <label for="FREQUENCY_SEC">Frequency (second)</label>
        <input type="number" name="FREQUENCY_SEC" value="{{config.FREQUENCY_SEC}}" id="FREQUENCY_SEC">

        <label for="TOKEN">Cam2Lapse Receiver Token</label>
        <input type="text" name="TOKEN" value="{{config.TOKEN}}" id="TOKEN">

        <label for="RECEIVER_URL">Cam2Lapse Receiver URL</label>
        <input type="text" name="RECEIVER_URL" value="{{config.RECEIVER_URL}}" id="RECEIVER_URL">

        <input type="submit" name="update" value="Save config (does not update emails) - remember to restart!!">
    </form>
    </main>
<footer>
</footer>

<script>
    function toggleSend() {
        var active = document.getElementById("activebtn");
        var send = document.getElementById("SEND");
        if (send.checked) {
            send.checked = false;
            send.value = "false";
            active.innerText = "Stream disabled (currently {{ 'on' if config.SEND else 'off' }})";
            active.style.backgroundColor = "red";
        } else {
            send.checked = true;
            send.value = "true";
            active.innerText = "Stream running (currently {{ 'on' if config.SEND else 'off' }})";
            active.style.backgroundColor = "green";
        }
    }

    function restart() {
        // Send a get request to /restart
        fetch('/restart')
            .then(response => response.json())
            .then(data => console.log(data));
    }


        if ("{{ config.SEND }}" == "True") {
            console.log("true");
            document.getElementById("SEND").checked = true;
            document.getElementById("activebtn").style.backgroundColor = "green";
        } else {
            console.log("false");
            document.getElementById("SEND").checked = false;
            document.getElementById("activebtn").style.backgroundColor = "red";
        }

    function updateEmails() {
        var emails = document.getElementById("email").value;
        fetch('/email', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({emails: emails.split("\n")}),
        })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }

    document.getElementById("frontend_url").href = window.location.origin + ":8080";

</script>

</body>
</html>
